@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  /* Brand Colors based on #045129 */
  --color-brand: #045129;
  --color-brand-hover: #05632e;
  --color-brand-dark: #02361a;
  --color-brand-light: #e6f0eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
    color: black !important;
  }

  .print-no-break {
    break-inside: avoid-page !important;
    page-break-inside: avoid !important;
  }

  .print-page-break {
    break-before: page !important;
    page-break-before: always !important;
  }
}
